<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta class="test" name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>
<style>
    table.table2 {
        border-collapse: separate;
        border-spacing: 1px;
        text-align: left;
        line-height: 1.5;
        border-top: 1px solid #ccc;
        margin: 20px 10px;
    }

    table.table2 tr {
        width: 50px;
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        border-bottom: 1px solid #ccc;
    }

    table.table2 td {
        width: 100px;
        padding: 10px;
        vertical-align: top;
        border-bottom: 1px solid #ccc;
    }

    .center {
        text-align: center;
    }
</style>
<body>
<form th:action="@{/board/edit/{boardNo}(boardNo=${boardNo})}" method="post" th:object="${freeBoardEditDTO}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <table style="padding-top:50px" align="center" width="800" border="0" cellpadding="2">
        <tr>
            <td height="20" align="center" bgcolor="#ccc"><font color="white">글 수정</font></td>
        </tr>
        <tr>
            <td bgcolor="white">
                <table class="table2">
                    <tr>
                        <td>작성자</td>
                        <td>
                            <span th:if="${user != null}" th:text="${user.nickname}"></span>
                            <span th:unless="${user != null}">로그인하세요</span>
                        </td>
                    </tr>
                    <tr>
                        <td>카테고리</td>
                        <td>
                            <select th:field="*{boardCategory}">
                                <option value="잡담" th:selected="${boardDetail.boardCategory == '잡담'}">잡담</option>
                                <option value="정보" th:selected="${boardDetail.boardCategory == '정보'}">정보</option>
                                <option value="정보" th:selected="${boardDetail.boardCategory == '모집'}">모집</option>
                                <option value="공지" th:selected="${boardDetail.boardCategory == '공지'}">공지</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>제목</td>
                        <td>
                            <input type="text" class="inputTitle" th:field="*{boardTitle}" placeholder="제목을 입력하세요"/>
                            <span class="err" th:if="${#fields.hasErrors('boardTitle')}"
                                  th:errors="*{boardTitle}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>내용</td>
                        <td>
                            <textarea class="inputContent" th:field="*{boardContent}" placeholder="내용을 입력하세요" cols="85"
                                      rows="15"></textarea>
                            <span class="err" th:if="${#fields.hasErrors('boardContent')}"
                                  th:errors="*{boardContent}"></span>
                        </td>
                    </tr>
                    <tr th:if="${boardDetail.multiFilesList!=null}">
                        <td>첨부파일</td>
                        <td>
                            <ul>
                                <li th:each="file : ${boardDetail.multiFilesList}">
                                    <a class="card-text" th:href="@{'/download/' + ${file.fileNo}}"
                                       th:text="${file.getOriginFileName()}"></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>파일</td>
                        <td>
                            <input name="file" type="file" multiple class="custom-file-input" id="customFile"/>
                        </td>
                        <td>
                            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                                <span th:text="${errorMessage}"></span>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="center">
                    <button type="submit">수정</button>
                    <button type="button" onclick="location.href='/board/list'">취소</button>
                    </button>
                </div>
            </td>
        </tr>
    </table>
</form>
<script>
    $('.custom-file-input').on('change', function () {
        const fileName = $(this).val().split('\\').pop();
        $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
    });
</script>
</body>
</html>