<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<style>
  table.table2{
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin : 20px 10px;
  }
  table.table2 tr {
    width: 50px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  }
  table.table2 td {
    width: 100px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  }
  .center {
    text-align: center;
  }
</style>
<body>
<form th:action="@{/board/write}" method="post" th:object="${freeBoardWriteDTO}" enctype="multipart/form-data">
  <table style="padding-top:50px" align="center" width="800" border="0" cellpadding="2">
    <tr>
      <td height="20" align="center" bgcolor="#ccc"><font color="white">글쓰기</font></td>
    </tr>
    <tr>
      <td bgcolor="white">
        <table class="table2">
          <tr>
            <td>작성자</td>
            <td>
              <span th:if="${user != null}" th:text="${user.nickname}"></span>
              <span th:unless="${user != null}">로그인하세요</span>
            </td>
          </tr>
          <tr>
            <td>제목</td>
            <td><input type="text" th:field="*{boardTitle}" size="60"></td>
          </tr>
          <tr>
            <td>파일</td>
            <td>
              <form>
                <input name="file" type="file" class="custom-file-input" id="customFile" />
              </form>

          </tr>
          <tr>
            <td>내용</td>
            <td><textarea th:field="*{boardContent}" cols="85" rows="15"></textarea></td>
          </tr>
          <tr>
            <td>카테고리</td>
            <td>
              <select th:field="*{boardCategory}">
                <option value="잡담" selected>잡담</option>
                <option value="정보">정보</option>
                <option value="공지">공지</option>
              </select>

            </td>
          </tr>
        </table>
        <div class="center">
          <button onclick="location.href='/board/list'">작성</button>
          <input type="submit" style="display: none;">
        </div>
      </td>
    </tr>
  </table>
</form>
<script>
  $('.custom-file-input').on('change', function () {
    var fileName = $(this).val().split('\\').pop();
    $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
  });
</script>

</body>

</html>