<!DOCTYPE>

<html>
<head>
  <meta charset="UTF-8">
</head>
<style>
  table.table2{
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin : 20px 10px;
  }
  table.table2 tr {
    width: 50px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  }
  table.table2 td {
    width: 100px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  }
  .center {
    text-align: center;
  }

</style>
<body>
<form action="/board/write" method="post">
  <table  style="padding-top:50px" align = center width=800 border=0 cellpadding=2 >
    <tr>
      <td height=20 align= center bgcolor=#ccc><font color=white> 글쓰기</font></td>
    </tr>
    <tr>
      <td bgcolor=white>
        <table class = "table2">
          <tr>
            <td>작성자</td>
            <td></td>
          </tr>

          <tr>
            <td>제목</td>
            <td><input type="text" name = "boardTitle" size=60></td>
          </tr>

          <tr>
            <td>내용</td>
            <td><textarea name = "boardContent" cols=85 rows=15></textarea></td>
          </tr>
          <tr>
            <td>카테고리<br>
            <select name="boardCategory">
              <option value="" selected>선택</option>
              <option value="free" selected>소통</option>
              <option value="announce" selected>공지</option>
            </select>
            <td>
          </tr>
        </table>

        <center>
        </center>
      </td>
    </tr>
  </table>
<div class="center">
  <button onclick="location.href='/board/list'">작성</button>
  <input type="submit" style="display: none;">
</div>
</form>
</body>
</html>